body {
  font-family: monospace;
  margin: auto 3%;
  padding: 2%;
  background-color: black;
  color: #33FF00;
  font-size: large;
}

button {
  background-color: #33FF00;
  border: #33FF00 2px solid;
  color: black;
  padding: 5px;
  margin: 10px;
  font-family: monospace;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 2px;
  display: inline-block;
  height: 55px;
}

button:first-of-type {
  margin-left: 0;
}

@media (min-width: 1366px){
  button:hover {
    background-color: black;
    color: #33FF00;
    cursor: pointer;
  }
}

.container {
  display: flex;
} 
